In [2]:
"""
날짜 : 2023/01/13
이름 : 공민혁
내용 : 파이썬 데이터베이스 프로그래밍 실습
"""
import pymysql

In [7]:
# insert 실습

# 데이터베이스 접속
conn = pymysql.connect(host='127.0.0.1',
                        user='root',
                        password='1234',
                        db='java1db',
                        charset='utf8')

# SQL 실행객체
cur = conn.cursor()

# SQL 실행
sql = "insert into `user1` values ('p101', '1234', '파이썬', 17, '010-1234-1001')"
cur.execute(sql)
conn.commit()

# 데이터베이스 종료
conn.close()

print('Insert 완료...')

Insert 완료...

In [9]:
conn = pymysql.connect(host='127.0.0.1',
                        user='root',
                        password='1234',
                        db='java1db',
                        charset='utf8')

# SQL 실행객체
cur = conn.cursor()

# SQL 실행
sql = "update `user1` set"
sql += "`name`='홍길동',"
sql += "`age`=27,"
sql += "`hp`='010-1111-2222',"
sql += "where `uid`='p101',"
cur.execute(sql)
conn.commit()

# 데이터베이스 종료
conn.close()

print('Insert 완료...')

ProgrammingError: (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'where `uid`='p101',' at line 1")

In [10]:
# delete 실습
conn = pymysql.connect(host='127.0.0.1',
                        user='root',
                        password='1234',
                        db='java1db',
                        charset='utf8')

# SQL 실행객체
cur = conn.cursor()

# SQL 실행
sql = "delete from `user1` where `uid`='p101';"
cur.execute(sql)
conn.commit()

# 데이터베이스 종료
conn.close()

print('delete 완료...')

delete 완료...

In [11]:
# select  실습

conn = pymysql.connect(host='127.0.0.1',
                        user='root',
                        password='1234',
                        db='java1db',
                        charset='utf8')

cur = conn.cursor()

sql = "select * from `user1`"
cur.execute(sql)
conn.commit()

# 데이터 출력
user = []
for row in cur.fetchall():
    print('-----------')
    print('아이디 :', row[0])
    print('비밀번호 :', row[1])
    print('이름 :', row[2])
    print('휴대폰 :', row[3])
    print('나이 :', row[4])

conn.close()
print('Select 완료...')

-----------
아이디 : a104
비밀번호 : 1234
이름 : 김유신
휴대폰 : 25
나이 : 010-1234-5555
-----------
아이디 : a105
비밀번호 : 1234
이름 : 김춘추
휴대폰 : 30
나이 : 010-1234-1002
-----------
아이디 : a109
비밀번호 : 1234
이름 : 김민민
휴대폰 : 24
나이 : 010-1234-5522
-----------
아이디 : a201
비밀번호 : 1234
이름 : 홍길동
휴대폰 : 27
나이 : 010-1111-1234
-----------
아이디 : b102
비밀번호 : 1234
이름 : 도토리
휴대폰 : 23
나이 : 010-1234-1111
Select 완료...